.story-info-page-story-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 72px;
}

.story-info-page-images-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.story-info-page-images-section-additional-image {
  display: flex;
  align-items: center;
  gap: 24px;
}

.story-info-page-images-section-main-image-img {
  height: 550px;
  width: 550px;
  object-fit: cover;
  border-radius: 30px;
}

.story-info-page-images-section-additional-image-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.story-info-page-story-content-user-details {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  position: relative;
}

.story-info-page-story-content-user-icon {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.story-info-page-story-content-user-name {
  font-size: 18px;
}

.story-info-page-story-content-story-title {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.story-info-page-description {
  margin-top: 12px;
  font-size: 20px;
  max-width: 800px;
  max-height: 550px;
  overflow: auto;
  padding: 24px 16px;
}

.story-info-page-description::-webkit-scrollbar-track {
  background-color: transparent;
}

.story-info-page-description::-webkit-scrollbar {
  width: 4px;
}

.story-info-page-likes {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.story-info-page-likes-img {
  width: 24px;
  cursor: pointer;
}

.story-info-page-likes-amount {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: default;
}

.story-info-page-buttons {
  position: absolute;
  bottom: 72px;
  transform: translate(-50%, 0);
  left: 50%;
  display: flex;
  gap: 24px;
}

.story-info-page-button {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.story-info-page-button-img {
  width: 24px;
}

.story-info-page-button.edit {
  background-color: var(--story-info-page-edit-button-background-color);
  color: var(--story-info-page-edit-button-text-color);
}

.story-info-page-button.edit:hover {
  background-color: var(--story-info-page-edit-button-active-background-color);
}

.story-info-page-button.delete {
  background-color: var(--story-info-page-delete-button-background-color);
  color: var(--story-info-page-delete-button-text-color);
}

.story-info-page-button.delete:hover {
  background-color: var(--story-info-page-delete-button-active-background-color);
}